extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  div.contents
    section.navbar.navbar-default.navbar-fixed-top.sticky-navigation(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
            span.icon.icon-bar
            span.icon.icon-bar
            span.icon.icon-bar
          a.navbar-brand(href='#') okamu.ro
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right.main-navigation
            li
              a.smoothScroll(href='#home') HOME
            li
              a.smoothScroll(href='#okamu') OKAMU
            li
              a.smoothScroll(href='#product') PRODUCT
            li
              a.smoothScroll(href='#contact') CONTACT
    section#home.parallax-section
      video.logo-video(autoplay muted playsinline)
        source(src="movie/logo.mp4" type="video/mp4")
        | Your browser does not support the video tag.
      div.scroll-bellow(display="none")
        a.smoothScroll(href='#okamu'): span

    section#okamu.paralla-section
      .container
        .row
          .col-md-offset-2.col-md-8.col-sm-8.wow.fadeInUp(data-wow-delay='0.8s') 
            h2 OKAMURO SHOGO
            p
              | [2018/12/04] 内面重視型「シンデレラ系」アプリをリリース
              br
              | [2018/08/01] 究極の瞑想アプリ「muon」
              br
              | [2018/05/18] Alexaスキル & GoogleAssistant「異次元なフライパン」を公開
              br
              | [2018/01/06] カメラアプリ「IamCam」を実装しリリース
              br
              | [2018/01/01] 近未来的Yes/No枕アプリ「Glance」をリリース
              br
              | [2017/12/09] マッチングサービスkamatteをリリース
              br
              | [2017/07/01] 卑猥.cityのサービスを開始
              br
              | [2016/04/26] 九工大アプリ(戸畑/生命)へ拡大
              br
              | [2016/01/21] 九工大bot(戸畑/生命)運用拡大
              br
              | [2016/11/25] アプリコンテスト「婚タクト」最優秀グランプリほか２賞
              br
              | [2015/10/00] MashupAward「FeelingCall」KDDIウェブコミュニケーションズ賞
              br
              | [2015/01/21] 福岡ビジネスデジタルコンテンツ賞2015でMOVIDA JAPAN賞
              br
              | [2014/12/28] 九州アプリチャレンジキャラバンで最優秀賞（作品賞）
              br
              | [2014/11/25] 飯塚アプリコンテストで飯塚市長賞／ビットアイル賞
              br
              | [2014/11/14] 「九工大アプリ飯塚」リリース
              br
              | [2014/10/27] 「九工大bot飯塚」運用開始
              br
              | [2014/05/01] 「合コンアプリ」Neighbor リリース
              br
    section#product.parallax-section
      .container
        .row
          .col-md-8.col-sm-8
            .section-title
              h2 PRODUCTS
          .col-md-12.col-sm-12
          #owl-team.owl-carousel
            .item
              .row
                .col-md-4.col-sm-4
                  a(target="_blank" href='https://cinderella-castle.com')
                    img.img-responsive(src='images/team_0.png', alt='cinderella img')
                  h2 シンデレラ
                  h4 1日1回運命の出会いが訪れるシンデレラ系アプリ
                  p
                    | 19~24に魔法がかかるシンデレラタイムで
                    br
                    | 今までになかった内面重視のマッチング
                    br
                    | もうプロフ写真で飽き飽きしません！
            .item
              .row
                .col-md-4.col-sm-4
                  a(target="_blank" href='https://muon.world/')
                    img.img-responsive(src='images/muon_logo.png', alt='team_8')
                  h2
                    a(target="_blank" href='https://muon.world/') muon
                  h4 日常的に瞑想を続けられるアプリ
                  p  ヨガ教室をやっている yoggy inc. さん
                  p  の新規事業ということで
                  p  瞑想スタジオと合わせた瞑想アプリを
                  p  製作をお手伝いし公開しました
            .item
              .row
                .col-md-4.col-sm-4
                  a(target="_blank" href='https://www.amazon.co.jp/dp/B07CT4HQ1M/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1526634866&sr=1-1&keywords=%E3%83%95%E3%83%A9%E3%82%A4%E3%83%91%E3%83%B3')
                    img.img-responsive(src='images/team_7.png', alt='team_7')
                  h2
                    a(target="_blank" href='https://www.amazon.co.jp/dp/B07CT4HQ1M/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1526634866&sr=1-1&keywords=%E3%83%95%E3%83%A9%E3%82%A4%E3%83%91%E3%83%B3') 異次元なフライパン
                  h4 異次元すぎるフライパンでチャーハンを炒めてる音声をひたすら再生します。
                  p  アレクサ!
                  p  異次元のフライパンでチャーハンを炒めて!!
                  p  OK,Google!
                  p  異次元のフライパンを開いて。チャーハンを炒めて!!
            .item
              .row
                .col-md-4.col-sm-4
                  a(target="_blank" href='https://itunes.apple.com/jp/app/iamcam/id1330883505?l=ja&ls=1&mt=8')
                    img.img-responsive(src='images/iamcam.png', alt='iamcam img')
                  h2
                    a(target="_blank" href='https://itunes.apple.com/jp/app/iamcam/id1330883505?l=ja&ls=1&mt=8') IamCam
                  h4 自然な写真をいつのまにか撮ってくれるアプリ
                  p  スマホを撮りたい位置にセットして、
                  p  あとはほうっておくだけ！
                  p IamCamが1分に1回くらい、自動で写真を撮影します。
                  p 誰もカメラを意識していない、
                  p 自然な写真を撮ることができます。
            .item
              .row
                .col-md-4.col-sm-4
                  a(target="_blank" href='https://kamatte.cc')
                    img.img-responsive(src='images/kamatte.png', alt='glance img')
                  h2
                    a(target="_blank" href='https://kamatte.cc') kamatte | かまって
                  h4 かまってちゃんのためのマッチングサービス
                  p kamatteは、twitter上のかまってちゃんを
                  p 勝手にマッチングして、
                  p お店の手配までするwebサービスです
            .item
              .row
                .col-md-4.col-sm-4
                  img.img-responsive(src='images/glance.png', alt='glance img')
                  h2 近未来的Yes/Noまくらアプリ (サービス終了)
                  h4 アプリアイコンでパートナーのYesかNoがわかる
                  p 登録は簡単！！QRコードをお互いにかざすだけ。
                  p あとは、気分でステータスを変更すれば、Yes/Noが相手に伝わります。
            .item
              .row
                .col-md-4.col-sm-4
                  img.img-responsive(src='images/hiwai.png', alt='mona img')
                  h2 HIWAI.city (サービス終了)
                  h4 防犯サービス
                  p 卑猥.city(ひわいどっとシティ)は、世の中の不審者等の出現エリアにそれを模した不審者を登録し、リアルタイムに不審者の出没地を可視化する防犯サービス
                  p 1年間で登録不審者数は671件と日本社会のみならず世界に貢献した、伝説のMAP防犯MAPです。
            .item
              .row
                .col-md-4.col-sm-4
                  img.img-responsive(src='images/team_1.jpg', alt='neighber img')
                  h2
                    neighborApp
                  h4 席替えアプリ(配信終了)
                  p
                    | 1,3Kダウンロード記録した合コンアプリです
                    br
                    | 合コンで席替えするときに便利です。
                    br
                    | 円卓に対応のほか車のシート決めもできます。
                    br
                    | こっそりと設定をしておけば...
            .item
              .row
                .col-md-4.col-sm-4
                  a(target="_blank" href='https://itunes.apple.com/jp/app/%E5%A9%9A%E3%82%BF%E3%82%AF%E3%83%88/id1120642916?mt=8')
                    img.img-responsive(src='images/team_2.jpg', alt='contact img')
                  h2
                    a(target="_blank" href='https://itunes.apple.com/jp/app/%E5%A9%9A%E3%82%BF%E3%82%AF%E3%83%88/id1120642916?mt=8') 婚タクト
                  h4 結婚式SNS
                  p 結婚式で撮影した写真を出席者同士で共有することができます。また、招待状から送ることによって、余興の打ち合わせなどにも幅広く便利に使えます!!
            .item
              .row
                .col-md-4.col-sm-4
                  a(target="_blank" href='https://itunes.apple.com/jp/app/九工大/id658354583?mt=8')
                    img.img-responsive(src='images/team_3.jpg', alt='kyutechapp img')
                  h2
                    a(target="_blank" href='https://itunes.apple.com/jp/app/九工大/id658354583?mt=8') 九工大アプリ
                  h4 ３キャンパス対応・九工大生向けアプリ
                  p 電子掲示板やHPのお知らせを手元で確認できます。また、シラバスと連携した時間割表の作成やスクールバスの時刻表も連動してさらに使いやすくなりました
            .item
              .row
                .col-md-4.col-sm-4
                  a(target="_blank" href='https://devpost.com/software/km_04')
                    img.img-responsive(src='images/team_4.jpg', alt='tsuccomu img')
                  h2
                    a(target="_blank" href='https://devpost.com/software/km_04') Tsuccomu(ツッコミュ)
                  h4 ツッコミAI
                  p
                    | youtube等のお笑い動画からボケとツッコミを抽出しておき、日常会話などでアプリが突っ込んでくれるアプリ
                    br
                    | 話がめんどくさい友達や上司にぴったり
            .item
              .row
                .col-md-4.col-sm-4
                  img.img-responsive(src='images/team_5.jpg', alt='cremero img')
                  h2 Create Melody (終了しました)
                  h4  くりめろ
                  p ガラケー時代の作曲アプリのように、ドレミの音階で作曲・演奏ができます
            .item
              .row
                .col-md-4.col-sm-4
                  a(target="_blank" href='https://www.youtube.com/watch?v=2HOionn9CzY&feature=youtu.be')
                    img.img-responsive(src='images/team_6.jpg', alt='testimonial img')
                  h2
                    a(target="_blank" href='https://www.youtube.com/watch?v=2HOionn9CzY&feature=youtu.be') FeelingCall
                  h4 フィーリングコール
                  p
                    | 合コンの後、気になる子と両思いかどうかが電話でわかる！両思いならば直接通話スタート！そうでなければお祈りメッセージ！それが電話を使った新感覚フィーリングカップル「FeelingCall」です！！
    section#contact.parallax-section
      .container
        .row
          .col-md-6.col-sm-6.wow.fadeInUp(data-wow-delay='0.4s')
            .contact-detail
              h2 CONTACT
              p ご用等ありましたら、メール/SNSにて承ります。
              div
                h4 okamu.ro
                p
                  i.fa.fa-smile-o
                    a(href="https://qiita.com/okamu_")  Qiita okamu_
                p
                  i.fa.fa-facebook-square
                    a(href="https://www.facebook.com/shogo.okamuro")  okamuro shogo
                p
                  i.fa.fa-envelope
                    a(href="mailto: shogo@okamu.ro")  shogo@okamu.ro
    footer
      .container
        .row
          .col-md-12.col-sm-12
            ul.social-button-syncer
              li.sc-tw
                a.twitter-share-button(href="https://twitter.com/intent/tweet")
              li.sc-fb
                .fb-like(data-width='80', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='false')
              li
                a.hatena-bookmark-button(href='http://b.hatena.ne.jp/entry/https://www.okamu.ro', data-hatena-bookmark-layout='vertical-normal', data-hatena-bookmark-lang='ja', title='このエントリーをはてなブックマークに追加')
                  img(src='https://b.st-hatena.com/images/entry-button/button-only@2x.png', alt='このエントリーをはてなブックマークに追加', width='20', height='20', style='border:none;')

    p.copy-right © 2016 okamu.ro - All rights Reserved.
    
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/smoothscroll.js')
    script(src='js/jquery.nav.js')
    script(src='js/jquery.parallax.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/isotope.min.js')
    script(src='js/wow.min.js')
    script(src='js/counter.js')
    script(src='js/custom.js')

